<template name="menu">
    
    <div class="jumbotron" id="menutron">
	    <h1>Bigger Burgers</h1>
	    <hr />
	    <h2>Our Menu</h2>
    </div>
    
    <section id="menu">
	<div class="container">
		<div class="row">
			<div class="menu_title">
				<h2>Burgers</h2>
			</div>
			<div class="menu_items">
				<div class="col-xs-4">
					<h6>Cheesy - Beefy</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Hot Stuffed</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>All American</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="menu_items">
				<div class="col-xs-4">
					<h6>Cheesy - Beefy</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Hot Stuffed</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>All American</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="menu_title">
				<h2>Wings</h2>
			</div>
			<div class="menu_items">
				<div class="col-xs-4">
					<h6>S. C. BBQ</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Diablo Balls</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Waiver Needed!</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="menu_title">
				<h2>Fried Goods</h2>
			</div>
			<div class="menu_items">
				<div class="col-xs-4">
					<h6>Chilli - Fries</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Double Fried Skins</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Waiver Needed!</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="menu_title">
				<h2>Beers On Tap</h2>
			</div>
			<div class="menu_items">
				<div class="col-xs-4">
					<h6>Sweetwater 420</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Shock Top</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Coors Light</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="menu_title">
				<h2>Liquor: <small>Served Daily</small></h2>
			</div>
			<div class="menu_items">
				<div class="col-xs-4">
					<h6>The Glenlivet 12 Years</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Jack Daniles</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Jim Beam</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
			</div>
			<div class="menu_items">
				<div class="col-xs-4">
					<h6>Woodford Reserve</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Grey Goose</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Crystal Skull Vodka</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="menu_title">
				<h2>House Drink Specials</h2>
			</div>
			<div class="menu_items">
				<div class="col-xs-4">
					<h6>Pink Fuzzy</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Signature 'Rita</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
				<div class="col-xs-4">
					<h6>Blue Moon Shake</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus?</p>
				</div>
			</div>
		</div>
	</div>
</section>
    
</template>